@{
    ViewData["Title"] = "Home Page";
}

<script>
    var table;

    $(document).ready(function () {
        let table = new DataTable('#classTable', {


            layout: {
                top1: 'searchPanes'
            },


            searchPanes: {
                viewTotal: true,
                layout: 'columns-4',
                columns: [3, 4, 5],
                threshold: 1
            },


            columns: [
                 @Html.Raw(@ViewBag.TableColumns)
            ],

            @Html.Raw(ViewBag.ColumnDefs)

            initComplete: function () {

                // Apply the search
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });

            },
            scrollX: false,
        }
        )

        //  table.searchPanes.rebuildPanes();

    });
</script>

<div class="row">
    <div class="col-1" style="width:32px"></div>

    <div class="col-11">
        <div id="tableDiv">
            <table id="classTable" class="table table-striped table-bordered table-hover" style="table-layout:fixed;float:left;@ViewBag.TableWidth">
                <thead>
                    <tr style="color:maroon">
                        @Html.Raw(@ViewBag.TableHeader)
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @Html.Raw(@ViewBag.TableFooter)
                    </tr>
                </tfoot>

                <tbody id='classTableBody'>
                    @Html.Raw(@ViewBag.ClassTableBody)
                </tbody>

            </table>
        </div>

    </div>
</div>
