
@{
    @using SpectrumWeb.Controllers.ControllerCommon;
}
<h2 style="color:maroon;text-align:center">@ViewBag.Title</h2>

<script type="text/javascript" language="javascript" src="/local/common.js"></script>

@Html.Raw(@ViewBag.ClassDefnScript)

<style>
th {
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
}

tbody tr {
    padding-left:2px;
    padding-right:2px;
}
 .dataTables_wrapper
 {
     margin-left:64px;
     text-align:left;
     float:none;
 }

#hoursAtInstallFooter input {
  width: 48px;
}

</style>
<script>

var table;

const classMap = new Map();

//$(document).ready(window.alert("Table = " + table));

$(document).ready( function () {
    initializeClassMap();
    //buildclassTableBody();
   

    $('#classTable tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Filter ' + title + '" />');
    });
    
    editor = new $.fn.dataTable.Editor( {
    ajax: "../php/staff.php",
    table: "#classTable",
        fields: [
           @Html.Raw(@ViewBag.TableFields)
        ]
    } );

    let table1 = new DataTable('#classTable', {
    
        dom: 'Bfrtip',
        select: true,
        buttons: [
            'copy', 'csv', 'excel',
            { extend: 'pdf',
              orientation: 'landscape'},
            'print', 'searchBuilder',
            { extend: "create", editor: editor },
	        { extend: "edit",   editor: editor },
	        { extend: "remove", editor: editor } 
        ],

        columns: [
           @Html.Raw(@ViewBag.TableColumns)
        ],
        initComplete: function () {
            
            // Apply the search
            this.api()
                .columns()
                .every(function () {
                    var that = this;
 
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });

            }
        });
    });
    
   alert("table = " + table1);

    // Add event listener for opening and closing details
    table.on('click', 'td.dt-control', function (e) {
        let tr = e.target.closest('tr');
        let row = table.row(tr);
        window.alert('Hello sailor');
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
        }
        else {
            // Open this row
            row.child(format(row.data())).show();
        }
    });
   


    table.on( 'draw', function () {
        alert( 'Table redrawn' );
    } );

    new $.fn.dataTable.Buttons( table, {
        buttons:[
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 4
            }
        }
        ],
    } );

function initializeClassMap()
{
    @Html.Raw(@ViewBag.ClassMapInitializer)
    // classMap.forEach(function(val)
    //{
    //    console.log(val.DateEntered);
    //});
}
</script>

<div style="height:32px"></div>

<table id="classTable" class="table table-striped table-bordered table-hover" style="table-layout:fixed;float:left;@ViewBag.TableWidth">
    <thead>
        <tr>
            @Html.Raw(@ViewBag.TableHeader)
        </tr>
    </thead>
    <tfoot>
        <tr>
            @Html.Raw(@ViewBag.TableFooter)
        </tr>
    </tfoot>

    <tbody id='classTableBody'>      
        @Html.Raw(@ViewBag.ClassTableBody)
    </tbody>
                
</table>

<script>

function buildclassTableBody(){
    
    @Html.Raw(ViewBag.TableBodyBuilder)
    
 
}

</script>
