@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using SpectrumWeb.Models;
    @model TaskCard;

    TaskCard tc = @ViewBag.Data;

    string otc = "U";

    if (@tc.OneTimeCard.HasValue)
    {
        if (tc.OneTimeCard.Value)
        {
            otc = "Y";
        }

        else
        {
            otc = "N";                     
        }
    }

    string sm = "N";

    if (!string.IsNullOrEmpty(tc.SignatureMode))
    {
        sm = tc.SignatureMode;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
    
    <style>
        .labelTd {
            width:180px;
        }

        tr {
            height:48px;
        }

        label {
            color:maroon;
            font:large;
            font-weight:bold;
        }

        input {
            color:maroon;
            border:solid;
            border-color:maroon;
            border-width:2px;
        }

        td{
            color:maroon;
            font:large;
        }

        .tableContainer {
            display:flex;
            align-items:center;
            font-size:16px;
            color:maroon;
        }
    </style>

    <script>

        $(document).ready(function()
            {
            

                
            }
        );

    </script>

</head>
<body>
     <h2 id="taskCardHeader" style="color:maroon;margin-top:16px;margin-bottom:16px;margin-left:auto;margin-right:auto;margin-top:32px;width:100%;" align="center">Task Card Details</h2>
    <div style="height:16px"> </div>

    <form method="post">
        
        <div style="width:100%;margin:auto;display:block;text-align:center;">
            <label for="taskId" style="width:64px;">Task Id: </label><input type="text" id="taskId" name="taskId" style="width:64px;" />-<input type="text" id="taskIdSub" name="taskIdSub" style="width:48px" />
        </div>

        <div style="height:16px"></div>

        <div style="width:100%;display:block;align-content:center;text-align:center;">

            <div style="margin:32px;display:inline-block">
            
                <table style="color:maroon;font-size:16px;">
                    <tr>
                        <td><label for="packageNmbr">Package Nmbr: </label></td>
                        <td><input type="text" id="packageNmbr" name="packageNmbr" value="@tc.PackageNmbr"/></td>
                    </tr>
                    <tr>
                        @{
                            
                        }

                        <td style="width:160px"><label for="oneTimeCard">One Time Card (Y/N): </label></td>
                        <td><select id="oneTimeCard" name="oneTimeCard" value="@otc">
                                <option value="U">&nbsp;</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="seqNmbr">Sequence Nmbr: </label></td>
                        <td><input type="text" id="seqNmbr" name="seqNmbr" value="@tc.SeqNmbr"/></td>
                    </tr>
                    <tr>
                       <td> <label for="issueDate">Issue Date: </label></td>
                       <td> <input type="date" id="issueDate" name="issueDate" value="@tc.IssueDate" /></td>
                    </tr>
                    <tr>
                        <td> <label for="revisionDate">Revision Date: </label></td>
                        <td> <input type="date" id="revisionDate" name="revisionDate" value="@tc.RevisionDate"/></td>
                    </tr>
                    <tr>
                        <td> <label for="acftType">Aircraft Type: </label></td>
                        <td> <input type="text" id="acftType" name="acftType" value="@tc.AcftType"/></td>
                    </tr>
                    <tr>
                        <td> <label for="airframeNmbr">Airframe Nmbr: </label></td>
                        <td> <input type="text" id="airframeNmbr" name="airframeNmbr" value="@tc.AirframeNmbr"/></td>
                    </tr>
                    <tr>
                        <td> <label for="srcRef">Source Ref: </label></td>
                        <td> <input type="text" id="srcRef" name="srcRef" value="@tc.SrcRef"/></td>
                    </tr>
                    <tr>
                        <td> <label for="category">Check Name: </label></td>
                        <td> <input type="text" id="checkName" name="checkName" value="@tc.CheckName"/></td>
                    </tr>
                  
                </table>
            </div>
            <div style="display:inline-block;margin:32px">
                <table style="color:maroon;font-size:16px;">
                    <tr>
                        <td style="width:160px"> <label for="checkName">Check Name: </label></td>
                        <td> <input type="text" id="checkName" name="checkDate" value="@tc.CheckName"/></td>
                    </tr>
                     <tr>
                        <td> <label for="priority">Priority: </label></td>
                        <td> <input type="text" id="priority" name="priority" value="@tc.Priority"/></td>
                    </tr>
                    <tr>
                        <td> <label for="maintManRef">Maint Manual Ref: </label></td>
                        <td> <input type="text" id="maintManRef" name="maintManRef" value="@tc.MaintManRef"/></td>
                    </tr>
                  
                    <tr>
                        <td> <label for="ata">ATA: </label></td>
                        <td> <input type="text" id="ata" name="ata" value="@tc.Ata"/></td>
                    </tr>
                    <tr>
                        <td><label for="signatureMode">SignatureMode: </label></td>
                        <td><select id="signatureMode" name="signatureMode" value="@sm">
                                <option value="none"> </option>
                                <option value="L">L</option>
                                <option value="R">R</option>
                                <option value="B">B</option>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <label for="workZone">Work Zone: </label></td>
                        <td> <input type="text" id="workZone" name="workZone" value="@tc.WorkZone"/></td>
                    </tr>
                    <tr>
                        <td ><label for="section">Section: </label></td>
                        <td><input type="text" id="section" name="section" style="width:64px;" value="@tc.Section"/></td>
                    </tr>
                    <tr>
                        <td><label for="station">Station: </label></td>
                        <td><input type="text" id="station" name="section" style="width:64px;" value="@tc.Station"/></td>
                    </tr>

                </table>
            </div>
            <div style="display:inline-block;margin:32px">
                <h6 style="width:100%;color:maroon;" align="center">-- Job Summary --</h6>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <label for="jobSummary">Job Summary:</label><br />
                        <input type="text" style="width:100%;" id="jobSummary" name="jobSummary" />
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <label for="task">Task:</label><br />
                        <input type="text" style="width:100%;" id="task" name="task" />
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1">
                        <label for="interval">Interval:</label><br />
                        <input type="text" style="width:100%;" id="interval" name="interval" />
                    </div>
                </div>
                <div style="height:16px"></div>
                <h6 style="width:100%;color:maroon;" align="center">-- Instructions --</h6>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <label for="instructions">Instructions:</label><br />
                        <textarea style="width:100%;" id="instructions" rows="8" name="instructions"></textarea>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        <label for="remarks">Remarks:</label><br />
                        <input type="text" style="width:100%;" id="remarks" name="remarks" />
                    </div>
                    <div class="col-1"></div>
                </div>
             </div>
        </div>
        <div style="height:16px"></div>
    </form>
</body>
</html>